@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding-bottom: 2.5rem;
  background-color: #d4c9c1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-top: 1px solid #3e4437;
  height: 2.5rem;
  background-color: #3e4437;
  color: #d4c9c1;
}

.btn {
  background: #404c24;
  color: #d4c9c1;
  padding: 0.5em 1.25em;
  margin: 0.5em;
  border: 1px solid #3e4437;
  border-radius: 3em;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 1px rgb(143, 143, 143);
}

.btn:hover {
  opacity: 0.8;
  transition-duration: 0.15s;
}

td {
  color: #3e4437;
}

td > a {
  color: #3e4437;
}

td > a:visited {
  color: #3e4437;
}

a {
  color: #d4c9c1;
  text-decoration: none;
}

a:visited {
  color: #d4c9c1;
  text-decoration: none;
}

.blue-btn:visited {
  color: white;
}

.blue-btn:hover {
  opacity: 0.8;
  transition-duration: 0.15s;
}

.link {
  color: #a2ac94;
}

.remove-btn {
  background-color: #a2ac94;
  color: #3e4437;
  margin: 0.5em;
  border: 1px solid #3e4437;
  border-radius: 3em;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 1px rgb(143, 143, 143);
}

.remove-btn:hover {
  opacity: 0.8;
  transition-duration: 0.15s;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #3e4437;
  background-color: #3e4437;
  box-shadow: 1.5px 1.5px 1px rgb(143, 143, 143);
}

#navbar {
  display: flex;
  justify-content: space-around;
  margin: 0 1em;
  align-items: center;
  padding: 1em;
  max-width: 1000px;
  font-size: 1.1rem;
  color: #d4c9c1;
}

.nav-btn {
  cursor: pointer;
  font-weight: bolder;
  border: 0px #3e4437 solid;
  background-color: transparent;
  color: #d4c9c1;
  padding: 0 1em;
}

.nav-btn:visited {
  color: #d4c9c1;
}

.logo-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 3em;
  height: 2.5em;
  padding: 0;
}

input {
  background-color: #3e4437;
  color: #d4c9c1;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75em;
  margin: 5px;
  width: 100%;
  border-radius: 3em;
}

input:focus {
  outline: none;
  opacity: 90%;
}

.concentration-input::placeholder {
  text-align: right;
  margin-right: 1em;
}

.concentration-input {
  min-width: 5em;
}

::placeholder {
  color: #d4c9c1;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75em;
  color: rgb(27, 49, 15);
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  color: rgb(255, 72, 81);
}

select {
  background-color: transparent;
  box-shadow: 1.5px 1.5px 1px rgb(143, 143, 143);
  font-size: 1rem;
}

select:focus {
  outline: none;
  opacity: 90%;
}

select:hover {
  cursor: pointer;
}

.wrapper {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d4c9c1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table {
  max-width: 600px;
  margin: 0 1em;
  padding: 1em;
  border-collapse: collapse;
  border: 1px solid #3e4437;
  box-shadow: 1.5px 1.5px 1px rgb(143, 143, 143);
}

.table .table-title {
  text-align: center;
}

.table th,
.table td {
  padding: 1em;
  text-align: left; /* or center, or right based on your preference */
}

table tr:nth-of-type(even) {
  background-color: #a2ac94;
}

.table thead {
  background-color: #f2f2f2; /* Optional: Adds a background color to the header */
}

.inventory-table-container {
  display: flex;
  justify-content: center;
}

.inventory-table {
  margin: 0 1em;
  border-collapse: collapse;
  border: 1px solid #3e4437;
  box-shadow: 1.5px 1.5px 1px rgb(143, 143, 143);
}

.inventory-table th,
.inventory-table td {
  padding: 1em;
  /* border: 1px solid #3e4437; */
  text-align: center; /* or center, or right based on your preference */
}

.inventory-table thead {
  background-color: #f2f2f2; /* Optional: Adds a background color to the header */
}

.container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Optional: Center text inside the container */
  margin-top: 3em; /* Adjust margin as needed */
  width: 100%;
}

.product-options-wrapper {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.product-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-options > button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3em auto;
  padding: 1em;
}

.margin-3em {
  margin: 2em;
}

.margin-top-4em {
  margin-top: 4em;
}

.margin-top-2em {
  margin-top: 2em;
}

.margin-top-1em {
  margin-top: 1em;
}

button:hover {
  cursor: pointer;
}

button {
  font-size: 1rem;
}

.navlink {
  text-decoration: none;
  color: #3e4437;
}

.navlink:visited {
  color: #3e4437;
}

.blue-btn:visited {
  color: white;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-column > * {
  padding: 0.5em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grey-button {
  background-color: #a2ac94;
  border-radius: 2em;
  padding: 0.5em 1em;
  border: 1px solid #3e4437;
  box-shadow: 1.5px 1.5px 1px rgb(143, 143, 143);
}

.grey-button:hover {
  opacity: 0.8;
  transition-duration: 0.15s;
}

.link-button {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.margin-top {
  margin-top: 2em;
}

.margin-top-small {
  margin-top: 1em;
}

.margin-1em {
  margin: 1.5em;
}

.button-width {
  min-width: 6em;
}

.container-submit {
  margin-top: 3em;
}

.text-red {
  color: red;
}

.total-containers {
  margin-top: 2em;
}

.filter-products {
  margin-bottom: 2em;
}

.product-submit {
  margin-top: 1em;
}

.edit-button {
  color: white;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #d4c9c1;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 12px;
  background: none;
  border: none;
  font-size: 2.5em;
  color: #3e4437;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-container {
  padding: 0.57em 1em;
  max-width: fit-content;
}

.filter-container {
  margin: 1.5rem;
}

b,
span {
  color: #3e4437;
}

@media (max-width: 400px) {
  .modal-close {
    right: 50px;
  }
}

@media (max-width: 500px) {
  .nav-btn {
    padding: 0.5em;
  }
}

@media (max-width: 600px) {
  #navbar {
    font-size: 0.9em;
  }
  .inventory-table th,
  .inventory-table td {
    padding: 0.2em; /* Adjust the padding as needed */
    /* font-size: 0.7rem; */
    font-size: 0.75em;
  }

  select,
  input,
  button,
  .link-button,
  span,
  label {
    font-size: 0.9em;
  }

  form {
    padding: 0;
  }
}

table th {
  background-color: #404c24;
  color: #d4c9c1;
}

@media (max-width: 750px) {
  .inventory-table th,
  .inventory-table td {
    padding: 0.3em; /* Adjust the padding as needed */
    /* font-size: 0.7rem; */
  }
}

@media (min-width: 751px) {
  .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
