@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");

:root {
  --color--one: #394131;
  --color--two: #404c24;
  --color--three: #d4c9c1;
  --color--four: #a2ac94;
  --box-shadow: 1.5px 1.5px 1px rgb(143, 143, 143);
}

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.page__content {
  flex: 1;
  padding-bottom: 2.5rem;
  background-color: var(--color--three);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-top: 1px solid var(--color--one);
  height: 2.5rem;
  background-color: var(--color--one);
  color: var(--color--three);
}

.footer__span {
  color: var(--color--three);
}

.footer__link {
  color: var(--color--four);
}

.button {
  background: var(--color--two);
  color: var(--color--three);
  padding: 0.5em 1.25em;
  margin: 0.5em;
  border: 1px solid var(--color--one);
  border-radius: 3em;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
}

.button:hover {
  opacity: 0.8;
  transition-duration: 0.15s;
  cursor: pointer;
}

.button--remove {
  background-color: var(--color--four);
  color: var(--color--one);
  margin: 0.5em;
  border: 1px solid var(--color--one);
  border-radius: 3em;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
}

.button--submit {
  margin-top: 1em;
}

.button--filter {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--color--four);
  color: var(--color--one);
  font-weight: 600;
  padding: 0;
  margin: 0.5em 0;
}

.button--remove:hover {
  opacity: 0.8;
  transition-duration: 0.15s;
}

.button--grey {
  background-color: var(--color--four);
  border-radius: 2em;
  padding: 0.5em 1em;
  border: 1px solid var(--color--one);
  box-shadow: var(--box-shadow);
}

.button--grey:hover {
  opacity: 0.8;
  transition-duration: 0.15s;
}

.button--add {
  margin: 0.5em 0;
}

.button--login {
  margin-top: 2em;
  margin-bottom: 0;
}

td {
  color: var(--color--one);
}

td > a {
  color: var(--color--one);
}

td > a:visited {
  color: var(--color--one);
}

a {
  color: var(--color--three);
  text-decoration: none;
}

a:visited {
  color: var(--color--three);
  text-decoration: none;
}

.blue-btn:visited {
  color: white;
}

.blue-btn:hover {
  opacity: 0.8;
  transition-duration: 0.15s;
}

.link {
  color: var(--color--four);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color--one);
  border-bottom: 1px solid rgb(143, 143, 143);
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  max-width: 1000px;
  font-size: 1.1rem;
  color: var(--color--three);
}

.nav-button {
  cursor: pointer;
  font-weight: bolder;
  border: 0px var(--color--one) solid;
  background-color: transparent;
  color: var(--color--three);
  padding: 0 1em;
}

.nav-button:visited {
  color: var(--color--three);
}

.logo-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 3em;
  height: 2.5em;
  padding: 0;
}

input {
  background-color: var(--color--one);
  color: var(--color--three);
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75em;
  margin: 5px;
  width: 100%;
  border-radius: 3em;
}

input:focus {
  outline: none;
  opacity: 90%;
}

.concentration-input::placeholder {
  text-align: right;
}

.concentration-input {
  min-width: 4em;
}

::placeholder {
  color: var(--color--three);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75em;
  color: rgb(27, 49, 15);
}

.form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.form--login {
  margin-top: 1em;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  color: rgb(202, 11, 11);
}

select {
  background-color: transparent;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
}

select:focus {
  outline: none;
  opacity: 90%;
}

select:hover {
  cursor: pointer;
}

.wrapper {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color--three);
}

.wrapper__form {
  padding: 2.5em;
  border: 1px solid black;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
  background-color: var(--color--four);
  color: black;
}

.wrapper__title {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2 {
  margin-top: 2em;
  color: var(--color--one);
}

.table {
  max-width: 600px;
  margin: 0 1em;
  padding: 1em;
  border-collapse: collapse;
  border: 1px solid var(--color--one);
  box-shadow: var(--box-shadow);
}

.table .table-title {
  text-align: center;
}

.table th,
.table td {
  padding: 1em;
  text-align: left; /* or center, or right based on your preference */
}

table tr:nth-of-type(even) {
  background-color: var(--color--four);
}

.table thead {
  background-color: #f2f2f2; /* Optional: Adds a background color to the header */
}

.inventory-table-container {
  display: flex;
  justify-content: center;
}

.inventory-table {
  margin: 0 1em;
  border-collapse: collapse;
  border: 1px solid var(--color--one);
  box-shadow: var(--box-shadow);
}

.inventory-table th,
.inventory-table td {
  padding: 1em;
  /* border: 1px solid var(--color--one); */
  text-align: center; /* or center, or right based on your preference */
}

.inventory-table thead {
  background-color: #f2f2f2; /* Optional: Adds a background color to the header */
}

.edit-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.edit-container__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75em;
  color: rgb(27, 49, 15);
}

.edit-container__form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.edit-container__label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 1em;
}

.edit-container__button {
  margin-top: 1.8em;
  padding: 0.5em 1em;
}

.edit-container .container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Optional: Center text inside the container */
  margin-top: 3em; /* Adjust margin as needed */
  width: 100%;
}

.product-options-wrapper {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.product-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-options > button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3em auto;
  padding: 1em;
}

.margin-3em {
  margin: 2em;
}

.margin-top-4em {
  margin-top: 4em;
}

.margin-top-2em {
  margin-top: 2em;
}

.margin-top-1em {
  margin-top: 1em;
}

.navlink {
  text-decoration: none;
}

.navlink:visited {
  color: var(--color--one);
}

.blue-btn:visited {
  color: white;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-column__span {
  margin: 0.5em auto;
  font-weight: 600;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link-button {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.margin-top {
  margin-top: 2em;
}

.margin-top-small {
  margin-top: 1em;
}

.margin-1em {
  margin: 1.5em;
}

.button-width {
  min-width: 6em;
}

.container-submit {
  margin-top: 3em;
}

.text-red {
  color: rgb(202, 11, 11);
}

.total-containers {
  margin-top: 2em;
}

.filter-products {
  margin-bottom: 2em;
}

.product-submit {
  margin-top: 1em;
}

.edit-button {
  color: white;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  background: var(--color--three);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.modal__button--close {
  position: absolute;
  top: 0px;
  right: 12px;
  background: none;
  border: none;
  font-size: 2.5em;
  color: var(--color--one);
}

.modal__button--close:hover {
  cursor: pointer;
}

.add-container {
  padding: 0.57em 1em;
  max-width: fit-content;
}

.filter-container {
  margin: 0;
  background-color: var(--color--four);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

.filter-container__filter-group {
  margin: 0 1em;
}

.filter__option {
  text-align: right;
}

b,
span {
  color: var(--color--one);
}

.help-wrapper {
  width: 98%;
  margin: 0 auto;
  height: auto;
}

.help-topic {
  cursor: pointer;
  padding: 10px;
  background-color: var(--color--four);
  margin: 5px 0;
  border-radius: 5px;
  color: var(--color--one);
}

.help-content {
  padding: 10px;
  margin-left: 10px;
  color: var(--color--one);
}

.shelving-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shelving-img {
  width: 350px;
  height: auto;
  margin-top: 2em;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.not-found {
  text-align: center;
  padding: 4em;
  color: rgb(62, 68, 55);
}

.video-wrapper {
  color: var(--color--one);
}

.demo-video {
  margin-top: 2em;
}

@media (max-width: 400px) {
  .modal-close {
    right: 50px;
  }
}

@media (max-width: 500px) {
  .nav-button {
    padding: 0.5em;
  }
}

@media (max-width: 600px) {
  #navbar {
    font-size: 0.9em;
  }
  .inventory-table th,
  .inventory-table td {
    padding: 0.2em; /* Adjust the padding as needed */
    /* font-size: 0.7rem; */
    font-size: 0.75em;
  }

  select,
  .input,
  input,
  .button,
  .button,
  .button--remove,
  .button-filter,
  .link-button,
  span,
  .form__label,
  .edit-container__label,
  .edit-container__input,
  .concentration-input {
    font-size: 0.9em;
  }

  .form {
    padding: 0;
  }
}

table th {
  background-color: var(--color--two);
  color: var(--color--three);
}

/* Base styles for nav container */
.nav-container {
  position: relative;
}

/* Hide menu items initially */
.nav-links {
  display: flex;
  gap: 1rem;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.hamburger-icon {
  color: var(--color--three);
}

/* Responsive styles */
@media (max-width: 700px) {
  #navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color--one); /* Or any other background color */
    padding: 1em;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .hamburger-icon {
    font-size: 1.5rem;
  }

  .inventory-table th,
  .inventory-table td {
    padding: 0.3em; /* Adjust the padding as needed */
    /* font-size: 0.7rem; */
  }

  .filter-container {
    flex-direction: column;
  }
}
